.icons {
    color: saddlebrown;
    text-align: center;
}
.item {
    display: flex;
    gap: 5px;
    text-align: center;
    justify-content: start;
}
.container {
    display: flex;
    text-align: center;
    justify-content: space-between;
    border: solid 2px saddlebrown;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 5px;
    
}
.buttonContact {
    border-radius: 5px;
    width: 70px;
}